body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.quote-content h1{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.quote-content p{
    font-size: 35px;
    font-weight: 400;
}
.quote-content span{
    color: rgb(55, 142, 142);
    font-weight: 700;
}
button{
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #298461;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
button:hover{
    background-color:#22b47c;
}